@charset "utf-8";
@import '~bulma/sass/utilities/initial-variables';

$morocolor: #FCBF00;
$primary: $morocolor;
$text-strong: $grey-dark;
$column-gap: 0.2rem;

@import 'bulma';

.panel-tabs a:focus, .panel-tabs a:focus-within, .panel-tabs a:hover, .panel-tabs a.is-active {
  color: $primary !important;
}

.panel-tabs a {
  color: $text !important;
}

.strikethrough {
  text-decoration: line-through;
  color: $grey-light !important;
}

.todoitem {
  word-break: break-all;
}